{% load thumbnail %}

{% with user=actions.user profile=actions.user.profile %}
    <div class="action">
        <div class="images">
            {% if profile.photo %}
                {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
                <a href="{{ user.get_absolute_url }}">
                    <img src="{{ im.url }}" alt="{{ user.get_full_name }}"
                         class="item-img">
                </a>
            {% endif %}
            {% if actions.target %}
                {% with target=actions.target %}
                    {% if target.image %}
                        {% thumbnail target.image "80x80" crop="100%" as im %}
                        <a href="{{ target.get_absolute_url }}">
                            <img src="{{ im.url }}" class="item-img">
                        </a>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
        <div class="info">
            <p>
                <span class="date">{{ actions.created|timesince }} ago</span>
                <br/>
                <a href="{{ user.get_absolute_url }}">
                    {{ user.first_name }}
                </a>
                {{ actions.verb }}
                {% if actions.target %}
                    {% with target=actions.target %}
                        <a href="{{ target.get_absolute_url }}">{{ target }}</a>
                    {% endwith %}
                {% endif %}
            </p>
        </div>
    </div>
{% endwith %}